# ユーザ環境に固有の値を設定するファイル
#
# 使用方法：
# user.env.sample を user.env にコピーしてから、
# user.env を編集して適切な値に変えてください。
GWIDE_BINDIR="/mnt/c/Gowin/Gowin_V1.9.10.02_x64/IDE/bin"
GWPROG_BINDIR="/mnt/c/Gowin/Gowin_V1.9.8.03/Programmer/bin"
